* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #0B4A72;
    font-size: 18px;
    line-height: 21px;
}

.container {
    max-width: 1410px;
    margin: 0 auto;
    padding: 0 10px;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 93px;
}

.user-nav__link {
    color: #0B4A72;
    font-size: 18px;
    line-height: 18px;
    text-decoration: none;
}

.user-nav__link+.user-nav__link {
    margin-left: 30px;
}

.top {
    background-color: #FEF8F1;
}

.top__inner {
    padding: 200px 333px 380px;
    background-image: url('../img/top-bg.png');
    background-repeat: no-repeat;
    background-position: bottom center;
    text-align: center;
}

.top__title {
    font-weight: 400;
    font-size: 72px;
    line-height: 80px;
    margin-bottom: 34px;
    max-width: 774px;
}

.top__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    max-width: 342px;
    text-align: center;
    color: #222222;
    margin: 0 auto;
}

.top__btn {
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    display: inline-block;
    color: #0B4A72;
    border-radius: 36px;
    /*padding: 17px 50px 19px;*/
    /*margin-right*/
    border: none;
    background-color: #E6F2B4;
    margin-top: 28px;
    text-align: center;
    cursor: pointer;
    position: relative;
    padding-top: 17px;
    padding-left: 30px;
    padding-right: 48px;
    padding-bottom: 19px;
}

.top__btn::after {
    content: "";
    position: absolute;
    right: 17px;
    width: 20px;
    height: 10px;
    background-image: url('../img/top-arrow.svg');
    top: 24px;
    background-repeat: no-repeat;
}

.tools {
    padding-top: 137px;
}

.tools__title {
    text-align: center;
    max-width: 530px;
    margin: 0 auto 98px;
    font-size: 48px;
    line-height: 60px;
    font-weight: 400;
    color: #0B4A72;
}

.tools__items {
    display: flex;
    justify-content: space-between;
    margin-bottom: 120px;
    text-align: center;
}

.tools__item {
    width: 325px;
}

.tools__item-title {
    font-size: 24px;
    line-height: 36px;
    font-weight: 400;
    margin-bottom: 17px;
    margin-top: 0;
}

.tools__item-text {
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    color: #000000B2;
}

.advantages {
    padding-top: 0;
    padding-bottom: 120px;
}

.answers__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 90px;
    margin-bottom: 240px;
}


.answers__advice {
    width: 520px;
    margin-right: 65px;
}


.answers__title {
    text-align: center;
    max-width: 510px;
    font-size: 48px;
    line-height: 60px;
    font-weight: 400;
    color: #0B4A72;
    margin: 0 auto 27px;
}

.answers__text {
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    color: #000000B2;
    text-align: center;
}

.answers__points {
    width: 600px;
    height: 440px;
    display: flex;

    flex-direction: column;
    justify-content: space-around;
}

.answers__point--1 {
    background-image: url('../img/q-1.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 340px;
    height: 110px;
    margin: 0;
    padding: 15px 0 0 50px;
}

.answers__point--2 {
    background-image: url('../img/q-2.png');
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0 0 0 150px;
    width: 340px;
    height: 110px;
    padding: 15px 0 0 50px;
}

.answers__point--3 {
    background-image: url('../img/q-3.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 340px;
    height: 110px;
    margin: 0;
    padding: 0;
    padding: 15px 0 0 50px;
}

.answers__point--4 {
    background-image: url('../img/q-4.png');
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0 0 0 150px;
    width: 340px;
    height: 110px;
    padding: 15px 0 0 50px;
}

.access {
    background-color: #F0F7CE36;
    padding-bottom: 310px;
    padding-top: 190px;
    background-image: url('../img/access-bg.png');
    background-repeat: no-repeat;
    background-position: bottom 40px right 1250px;

}

.access__inner {
    text-align: center;
}

.access__title {
    text-align: center;
    max-width: 538px;
    font-size: 48px;
    line-height: 60px;
    font-weight: 400;
    color: #0B4A72;
    margin: 0 auto 120px;
}

.access__text {
    max-width: 504px;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    margin: auto;
}

.access__text--2 {
    margin-top: 35px;
    max-width: 504px;
}