
* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #0B4A72;
    font-size: 18px;
    line-height: 21px; 
}

.container {
    max-width: 1410px;
    margin: 0 auto;
    padding: 0 10px;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 93px;

   
}

.user-nav__link {
    color: #0B4A72;
    font-size: 18px;
    line-height: 18px;
    text-decoration: none;
}

.user-nav__link + .user-nav__link {
    margin-left: 30px;
}








.main {

    background-color: #FEF8F1;
background-image: url('../img/main.png');
height: 100vh;

background-repeat: no-repeat;
background-position: bottom center;

}


.main_header-title {
    
font-size: 72px;
font-weight: 400;
line-height: 80px;

text-align: center;
padding-top: 200px;

}

.main-header-text {
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #222222;
    margin-top: 36px;
}

.button {
    margin-top: 28px;
    margin-bottom: 379px;
}
